---

import { render } from "astro:content";
import { type CollectionEntry } from "astro:content";

interface Props {
    project: CollectionEntry<"projects">
};

const { project } = Astro.props;
const { data } = project;
const { Content } = await render(project);

---

<button 
  class="project-card" 
  data-project-id={data.project_id}
  aria-label={`View details for ${data.title}`}>
    <div class="card-content">
        <div class="card-header">
            {data.title}
        </div>
        <div class="card-image">
            <img src={data.image} alt={data.title} height="100px">
        </div>
        <div class="card-desc">
            {data.description}
        </div>
        <div class="card-tags">
            {data.tags?.map((tag) => (
                <span>{tag} </span>
            ))}
        </div>
    </div>
</button>

<!-- Hidden content for dialog -->
<div id={`project-content-${data.project_id}`} style="display: none;">
  <div class="dialog-body">
    <div class="prose">
        <Content />
    </div>
  </div>
</div>

<style>
    
    .card-content {
        margin: 20px
    }

    .card-image {
        max-height: 100px;
        max-width: 100px;
    }

</style>

